---
import Layout from "../../layouts/Layout.astro";
import ImageCarousel from "../../components/ImageCarousel.jsx";
import KitsButtons from "../../components/KitsButtons.jsx";
import PriceTable from "../../components/PriceTable.astro";
import ColorBlock from "../../components/ColorBlock.astro";

import { data } from "../../../public/data";

const { id } = Astro.params;
const response = data.filter((item) => {
  return id === item.id;
});
---

<Layout title="Keycap demo">
  <section>
    <div class="keycap-info-container">
      <div class="keycap-carousel-container">
        <ImageCarousel client:load kits={response[0].attributes.kits} />
      </div>
      <main class="keycap-main-info-container">
        <div>
          <h2 class="text-3xl">{response[0].attributes.title}</h2>
          <p class="text-base">
            Designed by: {response[0].attributes.designer}
          </p>
        </div>
        <p class="text-base">{response[0].attributes.description}</p>
        <div>
          <h3 class="text-xl keycap-header-three">Kits</h3>
          <KitsButtons client:load kits={response[0].attributes.kits} />
        </div>

        <div>
          <h3 class="text-xl keycap-header-three">Colors</h3>
          <ColorBlock colors={response[0].attributes.colors} />
        </div>

        <div>
          <h3 class="text-xl keycap-header-three">Pricing</h3>
          {
            Object.keys(response[0].attributes.kits[0].price).length !== 0 ? (
              <PriceTable kits={response[0].attributes.kits} />
            ) : (
              <p class="text-base">No pricing available.</p>
            )
          }
        </div>
        <div>
          <h3 class="text-xl keycap-header-three">Dates</h3>
          <p class="text-base">
            <span class="text-bold">Group buy:</span>
             &nbsp;{response[0].attributes.dates.groupBuy}
          </p>
          <p class="text-base">
            <span class="text-bold">Shipped:</span>
             &nbsp;{response[0].attributes.dates.shipped}
          </p>
        </div>
        <div class="reference-container">
          <p>Reference:</p>
          <a href={response[0].attributes.groupBuyLink} class="reference-link"
            >Link</a
          >
        </div>
      </main>
    </div>
  </section>
</Layout>

<style>
  .keycap-carousel-container {
    display: flex;
    justify-content: center;
  }
  .keycap-header-two {
    font-size: 2rem;
  }
  .keycap-header-three {
    padding-bottom: 0.5rem;
  }

  .keycap-info-container {
    display: grid;

    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .keycap-main-info-container {
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
    gap: 1rem;
  }

  .reference-container {
    display: flex;
    font-size: 1rem;
    gap: 0.25rem;
  }
  .reference-link {
    color: blue;
    /* text-decoration: underline; */
  }

  .kits-button {
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    outline: none;
    background-color: white;
    cursor: pointer;
  }

  @media (min-width: 640px) {
  }

  @media (min-width: 768px) {
    .keycap-main-info-container {
      margin-top: 0rem;
    }
    .keycap-info-container {
      grid-template-columns: 1fr 1fr;
    }

    .keycap-info-container > div:first-child {
      order: 1;
    }
  }
</style>
