---
import Card from './Card.astro';
const { cardData, title } = Astro.props;
---

<section>
  <h2 class='text-2xl header-main-subtitle'>{title}</h2>
  <ul role='list' class='card-grid'>
    {
      cardData.map((item) => {
        return (
          <Card
            id={item.id}
            manufacturer={item.data.manufacturer}
            title={item.data.title}
            kit={item.data.kits[0]}
            designer={item.data.designer}
          />
        );
      })
    }
  </ul>
</section>

<style>
  .header-main-subtitle {
    color: var(--primary-text);
    padding-bottom: 1rem;
  }
  .card-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }
  @media (min-width: 640px) {
    .card-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 768px) {
    .card-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
